.insurer {
    display: grid;
    grid-template-columns: 65% 14% 14%;
    gap: 2%;
    background-color: #0DCAF0;
    color: white;
    margin-bottom: 25px;
    border-radius: 20px;
    padding: 25px;
}
.registrations{
    display: grid;
    grid-template-columns: 20% 59% 14%;
    gap: 2%;
    background-color: #0DCAF0;
    color: white;
    margin-bottom: 25px;
    border-radius: 20px;
    padding: 25px;
}
.registrations h5{
    display: grid;
    align-items: center;
}
.insurer h5{
    display: grid;
    align-items: center;
}
.btn-pink {
    background-color: #E75E8D;
    color: white;
    border: none;
    border-radius: 20px;
}
.btn-pink:hover {
    background-color: #d81b60;
    color: white;
}
.btnAdd{
    margin-bottom: 2%;
}

.editForm{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
}
.editForm div{
    display: grid;
    text-align: center;
}
.editForm div label{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}
.editForm div input{
   text-align: center;
   height: 240px;
   background-color: #0DCAF0;
   color: white;
   font-size: 40px;
   border-radius: 20px;
  
}
@media (max-width: 1400px) {
    .editForm{
        grid-template-columns: 1fr;
    }
}


.drop-area {
    width: 300px;
    height: 300px;
    border: 2px dashed #ccc;
    text-align: center;
    line-height: 300px;
}



.races{
    display: grid;
    grid-template-columns: 51% 14% 14% 14%;
    gap: 2%;
    background-color: #0DCAF0;
    color: white;
    margin-bottom: 25px;
    border-radius: 20px;
    padding: 25px;
}
.races h5{
    display: grid;
    align-items: center;
}