.difficult{
    border-radius: 2px;
    height: 60px;
}
.white{

    color: white;
}
.priceRace{
    color: white;
    font-weight: 200;
    font-size: 20px;
}
.imgRace{
    height: 200px;
}
.signup{
    margin-top: 40px;
    text-align: center;
}
.signupButton{
    color: black;
}
.formRegister{
    width: 600px;
}
.btn-pink {
    background-color: #E75E8D;
    color: white;
    border: none;
    border-radius: 20px;
}
.btn-pink:hover {
    background-color: #d81b60;
    color: white;
}