.difficult{
    border-radius: 2px;
    height: 60px;
}
.white{

    color: white;
}
.priceRace{
    color: white;
    font-weight: 200;
    font-size: 20px;
}
.imgRace{
    height: 200px;
}
.signup{
    margin-top: 40px;
    text-align: center;
}
.signupButton{
    color: black;
}